<br /><br />
<div class="container" style="margin-left: 18%">
<div class="row">
<div
class="col-md-11"
style="box-shadow: 2px 2px 10px #1b93e1; border-radius: 4px; top: 10px"
>
<h3 style="text-align: center; margin-top: 4%; margin-bottom: 4%">
<b>CATEGORY REGISTRATION</b>
</h3>
<form [formGroup]="editcategory">
<div class="form-horizontal"  style="margin-left: 10%">
<div class="row">
<label class="control-label col-sm-2" for="society"
>Category Name</label
>
<div style="margin-left: 50px;">
<input
type="text" class="form-control" formControlName="catname" placeholder="Enter Category Name"/>
</div>
</div>
<br />
<div class="row">
<label class="control-label col-sm-2" for="society"
>Category Description</label
>
<div style="margin-left: 50px;">
<input type="text" class="form-control" formControlName="Description" placeholder="Enter 
Category Description"
/>
</div>
</div>
<br />
<div class="row">
    <div class="col-sm-6">
        <button type="submit" (click)="edit()"class="btn btn-primary">
        Submit
        </button>
        <a routerLink="/adminmaster/adminhome">Cancel</a>
        </div>
        </div>
        <br />
        </div>
        </form>
        </div>
        </div>
        </div>
        
