<main id="main" class="main">
    <div class="card-body" >
    <div class="table-responsive">
    <div class="row">
    <div class="col-sm-6">
    <button type="submit" class="btn btn-primary"[routerLink]="['/adminmaster/regcategory']">Add New</button>
    <!-- <a class="btn btn-primary" [routerLink]="['adminmaster/regcategory']" >Add New</a> -->
    </div>
    </div>
    <br>
    <table class="table student-data-table m-t-20" *ngIf="categorylist" style="max-width: 75%;">
<thead>
<tr>
<th>Sl No</th>
<th>Category Name</th>
<th>Category Description</th>
<th>Delete</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let ca of categorylist;let 
i=index;">
<td>{{ i+1 }}</td>
<td>{{ ca.catname }}</td>
<td class="siz">{{ ca.Description }}</td>
<td><button class="btn btn-success" [routerLink]="['/adminmaster/editcategory',ca.categoryId]" >Edit</button></td>

<td><button class="btn btn-danger"(click)="delete(ca.categoryId)">Delete</button></td>
</tr>
</tbody>
</table>
</div>
